manifest {
    name            = 'var_call'
    author          = 'Sam Ebdon'
    homePage        = 'https://nf-co.re/'
    description     = 'A freebayes variant calling pipeline working towards an nf-core style.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.0'
    version         = '1.0.0'
}

nextflow.enable.dsl = 2

params {
    analysis_mode = 'paired'
    input         = null
    genome        = null
    reads         = null
    bams          = null
    repeat_bed    = null
    outdir        = "${launchDir}/results"
    species       = null
    dataset_id    = null
    min_depth     = 8
    skip_trimming = false
    publish_dir_mode = 'copy'
    help          = false
    validate_params = true
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {
    standard {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.conda = "${projectDir}/params/var_call.yaml"
    }

    test {
        includeConfig 'conf/test.config'
    }

    lsf {
        includeConfig 'conf/lsf.config'
    }
}
