process {
    cpus = 2
    memory = '4 GB'
    errorStrategy = 'terminate'
    maxRetries = 1

    withName: '.*:TRIM_READS' {
        cpus = 4
        memory = '4 GB'
    }

    withName: '.*:BWA_MEM' {
        cpus = 4
        memory = '8 GB'
    }

    withName: '.*:BWA_MEM_SE' {
        cpus = 4
        memory = '8 GB'
    }

    withName: '.*:BWA_MEM_CRAM' {
        cpus = 4
        memory = '8 GB'
    }

    withName: '.*:BWA_MEM_SE_CRAM' {
        cpus = 4
        memory = '8 GB'
    }

    withName: '.*:READS_CRAM_TO_FASTQ_PAIRED' {
        cpus = 4
        memory = '4 GB'
    }

    withName: '.*:READS_CRAM_TO_FASTQ_SINGLE' {
        cpus = 4
        memory = '4 GB'
    }

    withName: '.*:PREPARE_CRAM_SAMTOOLS' {
        cpus = 4
        memory = '8 GB'
    }

    withName: '.*:MOSDEPTH_CALLABLE' {
        cpus = 4
        memory = '24 GB'
    }

    withName: '.*:FREEBAYES_PARALLEL' {
        cpus = 8
        memory = '32 GB'
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
    overwrite = true
}
