process {
    cpus = 2
    memory = '4 GB'
    time = '4h'
    errorStrategy = 'terminate'
    maxRetries = 1

    withName: BWA_MEM {
        cpus = 4
    }

    withName: BWA_MEM_SE {
        cpus = 4
    }

    withName: MOSDEPTH_CALLABLE {
        cpus = 4
        env.MOSDEPTH_Q0 = 'NO_COVERAGE'
        env.MOSDEPTH_Q1 = 'LOW_COVERAGE'
        env.MOSDEPTH_Q2 = 'CALLABLE'
        env.MOSDEPTH_Q3 = 'HIGH_COVERAGE'
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
    overwrite = true
}