process {
    withName: TRIM_READS {
        publishDir = [
            path: "${params.outdir}/fastq",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'ADD_RGS|SORT_BAM_SAMBAMBA|PREPARE_CRAM_SAMTOOLS|BWA_MEM_CRAM|BWA_MEM_SE_CRAM' {
        publishDir = [
            path: "${params.outdir}/bams",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'INTERSECT_BEDS|INTERSECT_BED|GENERATE_FAIL_BED|BEDTOOLS_SUBTRACT' {
        publishDir = [
            path: "${params.outdir}/bed",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BCFTOOLS_FILTER|BCFTOOLS_SORT|BCFTOOLS_INDEX' {
        publishDir = [
            path: "${params.outdir}/vcf",
            mode: params.publish_dir_mode
        ]
    }
}
