params {
    analysis_mode = 'paired'
    genome        = "${projectDir}/test_data/genome.fa"
    genome_index  = "${projectDir}/test_data/genome.fa.fai"
    reads         = "${projectDir}/test_data/*_{1,2}.fastq.gz"
    repeat_bed    = "${projectDir}/test_data/repeats.bed"
    outdir        = "${projectDir}/test_output"
    species       = 'test_species'
}
